.letter-spacing{
  letter-spacing: 0.5rem;
}
.header-style {
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("./images/default-image.jpeg")center/cover no-repeat;
}
